[*.{js,jsx,ts,tsx,vue}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

; 这些配置主要用于确保代码在不同开发者之间保持一致的格式和风格。具体来说：

; 使用空格进行缩进，并且缩进的大小是 2 个空格
; 删除行尾的空格，避免不必要的空白字符
; 确保文件以一个空行结尾，符合常见的编码标准
; 这些规则有助于提高代码的可读性，减少格式化上的争议，使团队成员之间的协作更加顺畅